/* FONT SOURCE: https://www.dafont.com/protofo.font */

@font-face {
    font-family: ProtofoReg;
    src: url(/protofo/Protofo-Regular.otf);
}

@font-face {
    font-family: ProtofoBold;
    src: url(/protofo/Protofo-Bold.otf);
}

@font-face {
    font-family: ProtofoIt;
    src: url(/protofo/Protofo-RegularItalic.otf);
}

@font-face {
    font-family: ProtofoBoldIt;
    src: url(/protofo/Protofo-BoldItalic.otf);
}

body.sys {
    color-scheme: light dark;
}

body.light {
    color-scheme: light;
}

body.dark {
    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    font-family: ProtofoReg, sans-serif;
    color: light-dark(black, white);
}

.display_none {
    display: none;
}

b {
    font-family: ProtofoBold, sans-serif;
}

i {
    font-family: ProtofoIt, sans-serif;
}

b > i,
i > b {
    font-family: ProtofoBoldIt, sans-serif;
}

input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
 
    box-sizing: border-box;
 
    margin: 0;
    padding: 0;
 
    border: none;
    outline: none;
 
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
 
    background: transparent;
    opacity: 1;
}

input {
    background-color: inherit;
    border: none;
}

h1 {
    font-size: 15pt;
    text-align: center;

    color: light-dark(black, white);
}

hr {
    border: 1px solid light-dark(rgb(240, 240, 240), rgb(60, 60, 60));
    border-radius: 1em;
    
    margin: 3%;
}

ul /* unordered list (list container) */ {
    margin: 3%;
    width: 100%;
}

li /* list item */ {
    list-style: none;
    overflow: hidden;

    margin: 1em;
    padding: 0.5em;

    background-color: light-dark(rgb(255,255,255), rgb(30, 30, 30));
    color: light-dark(black, white);

    border-top: 0.3em solid light-dark(rgb(240, 240, 240), rgb(60, 60, 60));
    border-left: 0.3em solid light-dark(rgb(240, 240, 240), rgb(60, 60, 60));
    border-radius: 1em;
}

li:hover {
    background-color: light-dark(rgb(240, 240, 240), rgb(60, 60, 60));

    transition: 0.1s;
}

button,
.custom_file_upload {
    height: fit-content;
    width: 11em;

    margin: 0.5em;
    margin-bottom: 0.25em;
    padding: 0.1em;

    background-color: light-dark(rgb(255,255,255), rgb(30, 30, 30));

    border: 0.2em solid light-dark(rgb(240, 240, 240), rgb(60, 60, 60));
    border-radius: 50em;
    
    cursor: pointer;

    text-align: center;
}

button:hover,
.custom_file_upload:hover {
    background-color: light-dark(rgb(240, 240, 240), rgb(60, 60, 60));

    transition: 0.1s;
}

.prev_chats_display {
    margin: 0.5em;
}

.current_chat {
    border-color: light-dark(rgb(255, 168, 241), rgb(212, 0, 255));
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

#create_msg {
    width: min-content;
    height: min-content;

    margin-top: 50vh;
    padding: 0.5em;

    border: 0.5em solid light-dark(rgb(240, 240, 240), rgb(60, 60, 60));
    border-radius: 1em;

    background-color: light-dark(rgb(255,255,255), rgb(30, 30, 30));

    box-shadow: 0 0 15vh 10vh rgb(255, 0, 212),
    0 0 5vh 5vh rgb(0, 255, 225);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

input[type="file"] {
    display: none;
}


#create_msg.after {
    margin-top: 67vh;
}

.column {
    height: 100vh;
}

#usr_msg ::placeholder {
    color: light-dark(black, white);
    opacity: 1;
}

#usr_msg {
    color: light-dark(black, white);
    opacity: 1;

    height: 5em;
    width: 12em;

    resize: none;
}

#usr_msg.after {
    height: 20vh;
    width: 60vw;
}

.left_column {
    display: flex;
    justify-content: center;
    float: left;
    width: 66.67%;

    background-color: light-dark(rgb(255,255,255), rgb(30, 30, 30));
}

.right_column {
    float: left;
    width: 32.83%;
    overflow: scroll;

    background-color: light-dark(rgb(255,255,255), rgb(30, 30, 30));
}

.seperator {
    float: left;
    width: 0.5%;

    background-color: light-dark(rgb(240, 240, 240), rgb(60, 60, 60));
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.create_new_chat {
    height: 2em;
    width: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: none;
    background-color: rgb(214, 0, 203);
}

.create_new_chat:hover {
    background-color: rgb(204, 0, 255);
}

.create_new_chat_none {
    display: none;
}

.prev_chats_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
